.number{
  font-size: 29px;
  font-weight: 800;
}
.span{
  font-size: 27px;
  font-weight: 600;
}
.name{
  font-family: 'East Sea Dokdo', cursive;
  font-size: 33px;
}
.fa{
  font-size: 24px;
  padding-left: 23px;
}